<h2><%=@movie.name%></h2>
<a href='/movies/<%=@movie.slug%>/edit_movie'>Edit</a>

<br></br>

<h4>Genres include</h4>
<ul>
<% @movie.genres.each do |genre| %>
<li>
  <a href='/genres/<%=genre.slug%>'><%=genre.name%></a>
</li>
<% end %>
</ul>

<br></br>

<form method='post' action='/movies/<%=@movie.slug%>/delete_movie'>
<input type='hidden' name='_method' value='delete'>
<input type='submit' value='Delete Movie'>
</form>
